<!DOCTYPE HTML>

<html class="u-maximize-height" dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            Smart prototype
        </title>
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/prototype.css">
        <link rel="stylesheet" href="/static/css/styleguide-customizations.css">
    </head>
    <body class="u-maximize-height">
        <h1>
            Horizontal ruler
        </h1>
        <div class="br-sample-content">
            <hr class="c-hr">
        </div>
        <script src="/static/js/bundle-prototype.js">
        </script>
        <script src="/static/js/bundle-client.js">
        </script>
    </body>
</html>
