<!DOCTYPE HTML>

<html class="u-maximize-height" dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            Smart prototype
        </title>
        <meta name="description" content="Curiosity is an ever-evolving prototype system to think, discuss, and communicate the future of Smart Belgium&#39;s developments.">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/prototype.css">
        <link rel="stylesheet" href="/static/css/styleguide-customizations.css">
    </head>
    <body class="u-maximize-height">
        <header>
            <div class="o-container">
                <div class="c-navbar c-navbar--bordered-bottom c-navbar--main">
                    <div class="c-toolbar">
                        <div class="c-toolbar__left">
                            <div class="c-toolbar__item">
                                <div class="c-brand c-brand--small">
                                    <a href="/">
                                        <img src="/static/images/logo.svg" alt="Smart">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="c-toolbar__right">
                            <div class="c-toolbar__item">
                                <nav class="c-design-system-nav">
                                    <button class="c-button c-button--borderless c-button--icon c-design-system-nav-open" type="button" id="c-design-system-nav-open">
                                        <span class="c-button__content">
                                            <div class="o-svg-icon o-svg-icon-menu">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                    <path d="M4 7C4 6.44772 4.44772 6 5 6H19C19.5523 6 20 6.44772 20 7C20 7.55228 19.5523 8 19 8H5C4.44772 8 4 7.55228 4 7ZM4 12C4 11.4477 4.44772 11 5 11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H5C4.44772 13 4 12.5523 4 12ZM4 17C4 16.4477 4.44772 16 5 16H19C19.5523 16 20 16.4477 20 17C20 17.5523 19.5523 18 19 18H5C4.44772 18 4 17.5523 4 17Z" fill="#595959" />
                                                </svg>
                                            </div>
                                            <div class="u-sr-accessible">
                                                Open menu
                                            </div>
                                        </span>
                                    </button>
                                    <button class="c-button c-button--borderless c-button--icon c-design-system-nav-close" type="button" id="c-design-system-nav-close">
                                        <span class="c-button__content">
                                            <div class="o-svg-icon o-svg-icon-close">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                    <path d="M5.29289 5.2929C5.68342 4.90237 6.31658 4.90237 6.70711 5.2929L12 10.5858L17.2929 5.2929C17.6834 4.90237 18.3166 4.90237 18.7071 5.2929C19.0976 5.68342 19.0976 6.31659 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31659 4.90237 5.68342 5.29289 5.2929Z" fill="#595959" />
                                                </svg>
                                            </div>
                                            <div class="u-sr-accessible">
                                                Close menu
                                            </div>
                                        </span>
                                    </button>
                                    <div class="c-design-system-nav__mobile">
                                        <ul>
                                            <li>
                                                <a href="/components/">
                                                    Components
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/pages/">
                                                    Pages
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="c-design-system-nav__desktop">
                                        <ul class="c-pill-navigation">
                                            <li class="c-pill-navigation__item">
                                                <a href="/components/">
                                                    Components
                                                </a>
                                            </li>
                                            <li class="c-pill-navigation__item">
                                                <a href="/pages/">
                                                    Pages
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="o-container o-container--flex">
                <div class="u-padding-bottom-l">
                    <h1 class="c-d-h2">
                        Component documentation
                    </h1>
                </div>
                <div class="o-grid">
                    <div class="o-grid-col-bp3-3">
                    </div>
                    <div class="o-grid-col-bp3-9">
                        <div class="br-componentgroup-header-wrapper">
                            <h1 class="br-componentgroup-header c-d-h2">
                                Title
                            </h1>
                        </div>
                        <div class="br-content c-content">
                            <p>
                                Paragraph paragraph.
                            </p>
                        </div>
                        <div class="br-sample-content">
                            <div class="c-blank-slate">
                                <p class="u-text-muted c-body-1">
                                    There are no items yet.
                                </p>
                            </div>
                        </div>
                        <div class="br-sample-content">
                            <div class="c-blank-slate c-blank-slate--bg-alt">
                                <p class="u-text-muted c-body-1">
                                    There are no items yet.
                                </p>
                            </div>
                        </div>
                        <div class="br-sample-content">
                            <div class="c-blank-slate">
                                <p class="u-text-muted c-body-1">
                                    There are no items yet.
                                </p>
                                <button class="c-button c-button--secondary">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M12 4C12.5523 4 13 4.44771 13 5V11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H13V19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19V13H5C4.44772 13 4 12.5523 4 12C4 11.4477 4.44772 11 5 11H11V5C11 4.44771 11.4477 4 12 4Z" fill="#595959" />
                                    </svg>
                                    <span class="c-button__content">
                                        Add item
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="br-sample-content">
                            <div class="c-blank-slate c-blank-slate--bg-alt">
                                <p class="u-text-muted c-body-1">
                                    There are no items yet.
                                </p>
                                <button class="c-button c-button--secondary">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M12 4C12.5523 4 13 4.44771 13 5V11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H13V19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19V13H5C4.44772 13 4 12.5523 4 12C4 11.4477 4.44772 11 5 11H11V5C11 4.44771 11.4477 4 12 4Z" fill="#595959" />
                                    </svg>
                                    <span class="c-button__content">
                                        Add item
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script src="/static/js/bundle-client.js">
        </script>
    </body>
</html>
